@use "./reset";
@use "./lenis";
@use "./home";
@use "./preserved";
@use "./categorias";
@use "./_parallax-section";
@use "./_depoimentos";
@use "./_contato";

@font-face {
  font-family: "Moaro";
  src: url("../fonts/moaro.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts/MontserratAlternates-Regular.ttf") format("opentype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BerlingskeSerif";
  src: url("../fonts/BerlingskeSerif-Lt.woff") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
